<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
</head>
<body>
<div id="app">
    <h1>컴공과 빙고</h1>
    <table>
        <tbody>
            <tr v-for="idx in Math.ceil(data.length / 5)">
                <td v-for="square in data.slice((idx - 1) * 5, idx * 5)" class="square">
                    {{square}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
<script src="./data.js"></script>
<script src="./bingo.js"></script>
</body>
</html>
