@import url('https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css'); 
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700');
body {
  font-family: 'Nanum Gothic Coding', monospace;
  background-color: #272822;
  text-align: center;
}
input:focus {
    outline: none;
}
h1 {
  font-family: 'Noto Sans', sans-serif;
  color: #3E3D32;
  background-color: #FFE792;
  font-size: 2.5em;
  padding: 5px;
  width: 50%;
  margin-left: auto; 
  margin-right: auto;
}
h3 {
  color: #F8F8F2;
}
table {
  margin-left: auto; 
  margin-right: auto;
  border-collapse: collapse;
}
table, th, td {
  font-size: 20px;
  border: 3px solid #F8F8F2;
}
td {
  color: #75715E;
  background-color: none;
  padding: 15px;
}

div.v--modal {
  text-align: center;
  background-color: #575558;
}
div.v--modal div.share-wrap {
  margin-top: 25px;
  margin-bottom: 25px;
}
div.v--modal h2 {
  color: #FFE792;
  font-size: 2.2em;
  margin-bottom: 5px;
}
div.v--modal p {
  font-size: 1.2rem;
  color: #F8F8F2;
}
div.v--modal p#result {
  margin-top: 5px;
}
div.v--modal p.help {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
div.v--modal input#name {
  text-align: center;
  font-size: 1.5rem;
  border: 4px solid #78DCE8;
  border-radius: 15px;
  padding: 5px;
}
div.v--modal input#share {
  font-size: 1.2rem;
  width: 80%;
  color: black;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 15px;
  margin-bottom: 20px;
}
div.v--modal button {
  width: 80%;
}

h3.bingo-num {
  font-size: 2em;
}
button.btn {
  width: 30%;
  padding: 10px;
  border: 5px solid #78DCE8;
  border-radius: 15px;
  font-size: 1.7em;
  color: #78DCE8;
  background-color: #272822;
}
button.btn:hover {
  color: #272822;
  background-color: #78DCE8;
}
#footer {
  font-family: 'Nanum Gothic Coding', monospace;
  color: #A9DC76;
  font-size: 1.2rem;
  margin-top: 5px;
}
#footer a {
  color: #A9DC76;
  text-decoration: none;
}
